@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&family=Poppins:wght@300;400;500&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    max-width: 1600px;
    
    box-sizing: border-box;
}
body{
    background-color: rgb(212, 212, 228);
}


nav img {
    width: 30px;
}

.back {
    margin: 14px 0 0 40px;
    border: none;

    font-size: 16px;
    background-color: transparent;
    transition: ease .2s;
}
.back:hover{
    scale: 1.2;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    line-height: 14px;
    
}

fieldset {
    
    width: 100px;
    padding: 19px 25px 25px 25px;
    border-radius: 10px;
    border: none;
    color: var(--purple);

}

h2 {
    text-align: center;
    margin-bottom: 25px;




}

.inputs {

    width: 100%;
    height: 35px;
    padding-left: 14px;

    border: 1px solid;
    outline: none;

    font-size: 12px;

    border-radius: 3px;
    border: none;
    background: white;
    color: black;
}

p {
    margin-left: 5px;
    font-weight: 500;

    font-size: 17px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    font-weight: 500;
    font-size: 15px;
    margin: 12px 0 0 10px;
}

.message {
    display: flex;
}

span {
    display: none;
    font-size: 12px;
    color: red;

}

.message {
    justify-content: center;
    margin-top: 30px;
}

textarea {
    padding: 5px 0 0 10px;
    margin-top: 10px;
    background-color: aliceblue;
    outline: none;
    border-radius: 4px;
    border: none;

}

.submit {
    position: relative;
    left: 225px;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: var(--purple);
    color: aliceblue;

    cursor: pointer;

    transition: ease-in-out .3s;

}

.submit:hover {
    background-color: #38355f;
}