@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&family=Poppins:wght@300;400;500&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background: url(./images/top-image.svg), url(./images/bottom-image.svg);
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: contain;
    background-color: var(--text-color);

    
    
}
h1{
    margin-bottom: 22px;
    
}

fieldset {
    padding: 20px 0 20px 0;
    width: 600px;
    color: var(--purple);
   

    border: none;
    border-radius: 10px;

    text-align: center;

    line-height: 15px;
}


.inputs {
    width: 90%;
    height: 35px;
    padding-left: 14px;

    border: 1px solid;
    outline: none;

    font-size: 12px;

    border-radius: 3px;
    border: none;
    background: white;
    color: black;
}

p {
    font-weight: 500;

    font-size: 20px;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    font-weight: 500;
    font-size: 15px;
    margin: 12px 0 0 10px;
}

span {
    text-align: start;
    padding-left: 36px;
    display: none;
    font-size: 12px;
    color: red;
    

}



textarea {
    max-width: 100%;
    padding: 15px 0 0 15px;
    margin-top: 5px;
    background-color: aliceblue;
    outline: none;
    border-radius: 4px;
    border: none;

}

button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--purple);
    color: aliceblue;

    cursor: pointer;

    transition: ease-in-out .3s;

}

.submit:hover {
    background-color: #38355f;
}
@media (max-width:600px){

    fieldset{
        width: 400px;
        padding: 20px;
    }
    .inputs{
        width: 100%;
        height: 30px;
    }
    textarea{
        width: 400px;
    }
    span {
        padding-left: 3px;  
    
    }
}
@media (max-width:430px){

    .inputs{
        width: 97%;
    }
    textarea{
        width: 360px;
    }
    span {
        padding-left: 8px;  
    
    }
}

@media (max-width:1920px) {
    body{
        max-width: 1920px;

    }
}