:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: var(--purple);
    max-width: 1600px;
}
body{
    background-color: #FFFFFF;
}
.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    background-image: url(./images/top-image.svg),url(./images/bottom-image.svg);
    background-position: top center,bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    letter-spacing: 0.105em;
    text-transform: uppercase;

    color: var(--purple);
}
.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer-text {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-transform: capitalize;
}
.timer-text p {
    color: var(--light-grey);
    margin-left: 30px;
}

.days{
    display: flex;
    justify-content: space-evenly;
    color: var(--black);
    font-style: normal;
    font-weight: 400;
    font-size: 71px;
    line-height: 7rem;

}
.days div{
    color: var(--black);
}
h4 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
button {
    width: 160px;
    height: 46px;

    background-color: var(--purple);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;

    transition: ease-in-out .3s;
}
button a {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}
button:hover{
    background-color: #0c084b; 
}
.image-aside img{
    max-width: 100%;
}
.image-aside:hover{
animation: heart 1s infinite alternate;
}
@keyframes heart {
    from{
        transform: translate(1%,1%)rotate(2deg);
        scale: 1.1;
    }
}
 @media (max-width:1002px) {
    .page{
        justify-content: center;
        padding: 0 2rem 0 2rem;
        margin-bottom: 150px;

    }
    .timer{
        margin-bottom: 60px;
    }
 }